<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-content">
    <h3>La llamada de Cthulhu - Gestionar Personajes - Crear Personaje</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <p>
      Es hora de ver quien sera el afortunado al que le toque la loteria. Los afortunados se llevaran un personaje
      rico, y los desafortunados... bueno siempre podeis ser emprendedores.
    </p>
    <button mat-raised-button color="primary" class="next-btn" routerLink="../create-character-eight">Calcular ingresos</button>
    <p hidden>
      Tus ingresos anuales serán de... {{this.annualIncome}} euros y los ahorros que tienes actualmente son {{this.savings}}.
    </p>
  </mat-card-content>
  <mat-card-actions class="btn-right">
    <button mat-raised-button color="primary" class="next-btn" routerLink="../create-character-nine">Next</button>
  </mat-card-actions>
</mat-card>



