<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-text">
    <h3>¡Bienvenido a Play a Game!</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <p class="center-text"> ¿A que te apetece jugar?</p>
    <button mat-raised-button color="primary" class="menu-button">Iniciar sesión</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Registrarse</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">¿Que es esto?</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Salir</button>
  </mat-card-content>
</mat-card>
