<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-text">
    <h3>Menú</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <p class="center-text"> ¿A que te apetece jugar?</p>
    <button mat-raised-button color="primary" class="menu-button" routerLink="./call-of-cthulhu" href="./call-of-cthulhu">La llamada de cthulhu</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Dungeons and Dragons</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Anima</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Exit</button>
  </mat-card-content>
</mat-card>
