<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-content">
    <h3>¡Bienvenido a Play a Game!</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <button mat-raised-button color="primary" class="menu-button" routerLink="login">Iniciar sesión</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button" routerLink="register">Registrarse</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button" routerLink="about-this">¿Que es esto?</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Salir</button>
  </mat-card-content>
</mat-card>
