<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-text">
    <h3>La llamada de Cthulhu - Gestionar Personajes</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <p class="center-text"> ¿Que quieres hacer?</p>
    <button mat-raised-button color="primary" class="menu-button" routerLink="create-character" href="create-character">Ver personajes</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Crear personaje</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Editar personaje</button>
    <br>
    <button mat-raised-button color="primary" class="menu-button">Borrar personaje</button>
    <br>
    <button mat-raised-button class="menu-button">Volver al Menú</button>
  </mat-card-content>
</mat-card>
