<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-content">
    <h3>La llamada de Cthulhu - Gestionar Personajes - Crear Personaje</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <p>
      ¡Afortunadamente amigos podemos añadir {{this.pointsINT}} más!
      Usalos bien...
    </p>
    <ol hidden>
      <li>
        <!-- ability + % + points -->
      </li>
    </ol>
  </mat-card-content>
  <mat-card-actions class="btn-right">
    <button mat-raised-button color="primary" class="next-btn" routerLink="../create-character-eight">Next</button>
  </mat-card-actions>
</mat-card>



