.menu{
  margin: 15px;
}

.center-text{
  text-align: center;
}

.menu-button{
  margin: 10px;
  min-width: 200px;
}

.center-content{
  text-align: center;
}

.btn-right{
  text-align: right;
}

.next-btn{
  margin: 15px;
}
