<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-text">
    <h3>La llamada de Cthulhu - Gestionar Personajes - Crear Personaje</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <p>
      ¡Perfecto! Ya hemos acabado y podemos empezar a jugar.
      ¡BIENVENIDO AL MUNDO DE CTHULHU!
    </p>
  </mat-card-content>
  <mat-card-actions class="btn-right">
    <button mat-raised-button color="primary" class="next-btn" routerLink="/call-of-cthulhu">Menu</button>
  </mat-card-actions>
</mat-card>
