<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-text">
    <h3>Play a Game - Login</h3>
  </mat-card-title>
  <mat-card-content class="center-content">

    <mat-form-field class="example-full-width">
      <mat-label>Profile name: </mat-label>
      <input matInput placeholder="Ex. Pizza">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>PIN: </mat-label>
      <input matInput placeholder="Ex. Pizza">
    </mat-form-field>

    <a mat-button>¿Has olvidado tu PIN?</a>
    <a mat-button>¿Aun no has creado tu perfil?</a>

    <button mat-raised-button color="primary" class="btn-right btn-margin">Login</button>

  </mat-card-content>
</mat-card>

