<mat-card class="menu mat-elevation-z3">
  <mat-card-title class="center-text">
    <h3>Play a Game - Login</h3>
  </mat-card-title>
  <mat-card-content class="center-content">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Profile name: </mat-label>
        <input matInput placeholder="Ex. Pizza">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>PIN: </mat-label>
        <input matInput placeholder="Ex. 8741">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

