.menu{
  margin: 15px;
}

.center-text{
  position: inherit;
  left: 5px;
}

.menu-button{
  margin: 10px;
  min-width: 200px;
}

.center-content{
  text-align: center;
}

.btn-right{
  text-align: right;
}

.next-btn{
  margin: 15px;
}

.table{
  max-width: 400px;
  display: block;
  margin: auto;
  text-align: center;
}

.table-cell{
  text-align: left;
}

.btn-margin{
  margin: 10px;
}


